<div class="menu">
  <ul>
    <li><a>お父さん</a></li>
  </ul>
</div>

<div class="contents">

 <div class="kokuban-t2">
    <span class="title-t2">
      ポイント合計
    </span>
      お父さんポイントは先週よりも10ポイント増えて、合計 ポイントです。特に宿題をがんばってます。
    <span class="title-t3">
      合計<%= @approves %>ポイント
    </span>
  </div>

  <div class="boxA">

    <div class="box5">
      <div class="promise_card">
        <span class="card_title">約束カード</span>
        	<div class="badge">
        	  <i class="fas fa-grin-beam"></i>やった！
		      </div>
        <p>「宿題を終わらせる」</p>
      </div>
    </div>

  </div>

</div>
