  <!-- ▼twitter風ここから -->
  <div class="twitter__container">
    <!-- タイトル -->
    <div class="twitter__title">
      <span class="twitter-logo"></span>お母さんを手伝う
    </div>

    <!-- ▼タイムラインエリア scrollを外すと高さ固定解除 -->
    <div class="twitter__contents">

      <!-- 記事エリア -->
      <div class="twitter__block">
        <figure>
          <i class="fas fa-user-alt"></i>
        </figure>
        <div class="twitter__block-text">
          <div class="name">ともはる<span class="name_reply"></span></div>
          <div class="date">10分前</div>
          <div class="text">
            がんばったよーーー<br>
          </div>
          <div class="twitter__icon">
            <span class="twitter-bubble"></span>
            <span class="twitter-loop"></span>
            <span class="twitter-heart"></span>
          </div>
        </div>
      </div>

      <!-- 記事エリア -->
      <div class="twitter__block">
        <figure>
          <i class="fas fa-user-tie"></i>
        </figure>
        <div class="twitter__block-text">
          <div class="name">おとうさん<span class="name_reply"></span></div>
          <div class="date">1時間前</div>
          <div class="text">
            毎日がんばってて、エライね
          </div>
          <div class="twitter__icon">
            <span class="twitter-bubble">1</span>
            <span class="twitter-loop">4</span>
            <span class="twitter-heart">122</span>
          </div>
        </div>
      </div>

      <!-- 記事エリア -->
      <div class="twitter__block">
        <figure>
          <i class="fas fa-user-alt"></i>
        </figure>
        <div class="twitter__block-text">
          <div class="name">ともはる<span class="name_reply"></span></div>
          <div class="date">2018/06/24 5:34</div>
          <div class="text">
            やったよ
          </div>
          <div class="twitter__icon">
            <span class="twitter-bubble">1</span>
            <span class="twitter-loop"></span>
            <span class="twitter-heart"></span>
          </div>
        </div>
      </div>


    </div>
    <!--　▲タイムラインエリア ここまで -->
  </div>
  <!--　▲twitter風ここまで -->


<% @kids.each do |kid| %>>

  <div class="twitter__container">
    <!-- タイトル -->
    <div class="twitter__title">
      <span class="twitter-logo"></span><%= kid.name %>
    </div>

    <!-- ▼タイムラインエリア scrollを外すと高さ固定解除 -->
    <div class="twitter__contents">

      <!-- 記事エリア -->
      <div class="twitter__block">
        <figure>
          <i class="fas fa-user-alt"></i>
        </figure>
        <div class="twitter__block-text">
          <div class="name"><%= kid.name %><span class="name_reply"></span></div>
          <div class="date">10分前</div>
            <% @comment_kid.each do |comment| %> <br>
             <div class="text">  
             <%= comment.commemt %>
          </div>
          <% end %>
          <div class="twitter__icon">
            <span class="twitter-bubble"></span>
            <span class="twitter-loop"></span>
            <span class="twitter-heart"></span>
          </div>
        </div>
      </div>
    </div>
    <!--　▲タイムラインエリア ここまで -->
  </div>
  <!--　▲twitter風ここまで -->
<% end %>