.prof-card {
  width: 200px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px #ccc;
  margin: 5px auto;
}
.prof-card-img {
  border-radius: 5px 5px 0 0;
  max-width: 100%;
  height: auto;
}
.prof-card-content {
  padding: 20px;
}
.prof-card-title {
  font-size: 20px;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}
.prof-card-title a {
  text-decoration: none;
  color: #000;
}
.prof-card-text {
  color: #777;
  font-size: 14px;
  line-height: 1.5;
}
.prof-card-link {
  text-align: center;
  border-top: 1px solid #eee;
  padding: 20px;
}
.prof-card-link a {
  text-decoration: none;
  color: #0bd;
  margin: 0 10px;
}
.prof-card-link a:hover {
  color: #0090aa;
}