html {
    font-family: "Kosugi Maru", sans-serif;
    box-sizing: border-box;
}

.header {
  height: 50px;
  background-color: #ffffff;
  padding-left: 0px;
  font-family: 'Kosugi Maru', sans-serif;
  font-size: 20px;
  color: #fa6400;
  line-height: 50px;
  letter-spacing: 1px;
  width: 80%;
  margin: auto;
}

.header i{
    color: #fa6400;
    font-weight: bold;
}

.header a{
    color: #fa6400;
    text-decoration: none;
}

.menu {
    height: 40px;
    background-color: #fa6400;
    margin: 0 10%;
}

.menu ul {
  display: flex;
  justify-content: center;
}

.menu a {
  text-decoration: none;
  font-family: 'Kosugi Maru', sans-serif;
  color: #ffffff;
  padding: 12px;
}

.menu a:hover {
  background-color: #ff7f50;
}


.menu li {
    list-style: none;
    margin: 0 auto;
    line-height: 40px

}

.main {
    width: 80%;
    margin: auto;
    padding: 1rem 0;
}

.inputbox {
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    color: #6091d3;/*文字色*/
    background: #FFF;
    border: solid 3px #6091d3;/*線*/
    border-radius: 10px;/*角の丸み*/
}

.contents {
  /* height: calc(100vh - 140px); */
  background-color: #ffffff;

}

.boxA{
    width: 80%;
    margin: auto;
}

.boxA:after{
    content: "";
    display: block;
    clear: both
}

.box3{
    float: left;
    width: 30%;
    padding: 1px 1px;
}

.box5{
    float: left;
    padding: 1em;
    /* width: 50%; */
}

.box7{
    float: left;
    width: 70%;
}

.plus-btn-box{
    width: 80%;
    margin: auto;
    margin: 10px auto;
	text-align: center;
}

.right-box{
    padding: 0.5em 1em;
    margin: 20px 0 0 0.5em;
    color: #5d627b;
    background: white;
    border-top: solid 5px #5d627b;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}
.right-box a {
    margin: 0; 
    padding: 0;
    text-decoration: none;
}


/* 写真に白色フィルター */
.colorfilter-base {
    background-color: white;     /* カラーフィルタ効果の色を指定 */
    display: inline-block;     /* (任意：インラインブロック化したい場合) */
    position: relative
}
.colorfilter-image {
    opacity: 0.6;     /* カラーフィルタ効果の度合いを指定 */
    display: block;
    max-width: 100%;
	height: auto;
	vertical-align: bottom
}

/* ヘッダー画像 */
.topimg	{max-width: 100%;
	height: auto;
	vertical-align: bottom}

/* キャッチコピー */
.catch	{margin: 0;
	padding: 15px;
	background-color: rgba(255,255,255,0.7);
	font-size: 28px}

/* ヘッダー画像にキャッチコピーを重ねる */
.top	{position: relative}

.catch	{position: absolute;
	bottom: 20%;
	left: 10%}


/* 黒板風　タイトル　2 */
.kokuban-t2 {
 width: auto;
 height: 200px;
 position: relative;
 margin: 5px;
 padding: 3.2em 1em 1em;
 background-color: #006633; /* ボックス背景色 */
 color: #fff; /* 文章色 */
 border: 8px solid #b2771f; /* 枠線 */
 border-radius: 3px; /* 角の丸み */
 box-shadow: 0 0 5px #333, 0 0 5px #555 inset;
 font-family: 'Kosugi Maru', sans-serif;

}
.kokuban-t2::before,
.kokuban-t2::after {
 position: absolute;
 content: '';
 bottom: 0;
} 
.kokuban-t2::before {
 right: 10px;
 border: solid 3px #fff; /*チョーク（白）*/
 width: 20px; 
 border-radius: 3px 2px 0 2px;
}
.kokuban-t2::after {
 right: 40px;
 border: solid 3px #ffff6b; /*チョーク（黄色）*/
 width: 15px; 
 border-radius: 8px 5px 2px 5px;
}
.title-t2 {
 position: absolute;
 left: 1em;
 top: .5em;
 font-weight: bold;
 font-size: 25PX;
 font-family: 'Kosugi Maru', sans-serif;
 color: #ffff6b; /* タイトル色 */
}

.title-t3 {
 position: absolute;
 right: 1em;
 bottom: 1em;
 font-weight: bold;
 font-size: 25px;
 font-family: 'Kosugi Maru', sans-serif;
 color: #ffff6b; /* タイトル色 */
}


.promise_card {
    font-size: 30px;
    width: 500px;
    height: 200px;
    position: relative;
    padding: 10px 10px;
    margin: 40px auto;
    border: solid 3px #62c1ce;
    margin-bottom: 60px;
    background-color: #ffffff;
    box-shadow: 5px 5px 10px #000;
    -webkit-box-shadow: 5px 5px 10px #adadad;
    -moz-box-shadow: 5px 5px 10px #adadad;
}

.promise_card .card_title {
    position: absolute;
    display: inline-block;
    top: -27px;
    left: -3px;
    padding: 0 9px;
    height: 25px;
    line-height: 25px;
    font-size: 17px;
    background: #62c1ce;
    color: #ffffff;
    font-weight: bold;
    border-radius: 5px 5px 0 0;
}

.promise_card p {
    font-size: 30px;
    padding-top: 60px;
	text-align: center;
}

.badge	{width: 100px;
	height: 100px;
	padding-top: 25px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 60px;
	background-color: #00a0e9;
	color: #ffffff;
	text-align: center;
	box-shadow: 0 0 4px #aaaaaa}

.badge i	{display: block;
	font-size: 40px}


/* バッジの表示位置 */
.pickup	{position: relative}

.badge	{position: absolute;
	top: 65%;
	right: -20px}

/*　プラスボタン　*/
.plus-btn-real {
  display: inline-block;
  text-decoration: none;
  color: rgba(152, 152, 152, 0.43);/*アイコン色*/
  width: 80px;
  height: 80px;
  line-height: 80px;
  font-size: 40px;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  font-weight: bold;
  background-image: linear-gradient(#e8e8e8 0%, #d6d6d6 100%);
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.66);
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.5), 0 2px 2px rgba(0, 0, 0, 0.19);
  border-bottom: solid 2px #b5b5b5;
}
.plus-btn-real i {
  line-height: 80px;
}
.plus-btn-real:active {
  /*押したとき*/
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.5), 0 2px 2px rgba(0, 0, 0, 0.19);
  border-bottom: none;
}



.footer {
    height: 50px;
    background-color:#fa6400;
    color: #ffffff;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    line-height: 50px;
    letter-spacing: 0.1em;
    width: 80%;
    margin: auto;
}
