<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>おとうさんポイント</title>
    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css"> <!-- ブラウザのスタイルをキャンセルするCSS -->
    <link rel="stylesheet" href="style.css">  
    <link href="https://fonts.googleapis.com/css?family=Seymour+One" rel="stylesheet"> <!-- ウェブフォント -->
    <link href="https://fonts.googleapis.com/css?family=Kosugi+Maru&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  </head>
  <body>
    
    <div class="header">
      <i class="fas fa-pencil-alt"></i>
      お父さんポイント
      <i class="fas fa-piggy-bank"></i>
    </div>
    
    <div class="menu">
      <ul>
        <li><a href="#">はるか</a></li>
        <li><a href="#">ともはる</a></li>
        <li><a href="#">ひなた</a></li>
        <li><a href="#"><i class="fas fa-lock"></i>おとうさん</a></li>
      </ul>
    </div>

    <div class="contents">
    
      <div class="kokuban-t2">
        <span class="title-t2">
          ポイント合計
        </span>
          お父さんポイントは先週よりも10ポイント増えて、合計46ポイントです。特に宿題をがんばってます。
        <span class="title-t3">
          合計46ポイント
        </span>
      </div>
    
      <div class="boxA">
    
        <div class="box2">
          <div class="promise_card">
            <span class="card_title">約束カード</span>
            	<div class="badge">
            	  <i class="fas fa-grin-beam"></i>やった！
    		      </div>
            <p>「宿題を終わらせる」</p>
          </div>
        </div>

        <div class="box3">
          <div class="promise_card">
            <span class="card_title">約束カード</span>
            	<div class="badge">
            	  <i class="fas fa-grin-beam"></i>やった！
    		      </div>
            <p>「お手伝い」</p>
          </div>
        </div>  
      
      </div>
    
    </div>

    <div class="footer">
      Copyright © 2019 Otosan-Point All Rights Reserved.
    </div>

  </body>
</html>