<% if user_signed_in? %>

    <div class="header">
      <i class="fas fa-pencil-alt"></i>
      <a href="/">お父さんポイント</a>
      <h1><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></h1>
    </div>

<div class="menu">
  <ul>
    <% @kids.each do |kid| %>
      <li><%= link_to "#{kid.name}",top_path(kid.id) %></li>
    <% end %>
    <li><%= link_to "おとうさん", user_path(current_user) %></li>

  </ul>  
  
</div>

<% end %>